{% extends "layout.html" %}

{% block title %}
  Algorithms
{% endblock %}

{% block main %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-xl navbar-dark">
    <a href="/"class="navbar-brand"><button class="btn btn-outline-light">Home</button></a>
    <button class="navbar-toggler btn-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
      <ul class="navbar-nav flex-wrap justify-content-center justify-content-md-end">
        <li class="nav-item m-1">
          <button onclick="unsortReset()" class="btn btn-outline-light">Unsort</button>
        </li>
        <li class="nav-item m-1">
          <button onclick="newDataReset()" class="btn btn-outline-light">New Data</button>
        </li>
        <li class="nav-item m-1">
          <form class="form-inline">
            <input id="linear-search-input" type="number" min="0" max="1000" aria-label="Search for number">
            <input class="btn btn-outline-light mx-1" type="button" onclick="linearSearchAlgorithmVisualization()" value="Linear Search"></input>
          </form>
        </li>
        <li class="nav-item m-1">
          <form class="form-inline">
            <input id="binary-search-input" type="number" min="0" max="1000" aria-label="Search for number">
            <input class="btn btn-outline-light mx-1" type="button" onclick="binarySearchAlgorithmVisualization()" value="Binary Search"></input>
          </form>
        </li>
        <li class="nav-item m-1">
          <button onclick="bubbleSortAlgorithmVisualization()" class="btn btn-outline-light">Bubble Sort</button>
        </li>
        <li class="nav-item m-1">
          <button onclick="selectionSortAlgorithmVisualization()" class="btn btn-outline-light">Selection Sort</button>
        </li>
        <li class="nav-item m-1">
          <button onclick="mergeSortAlgorithmVisualization()" class="btn btn-outline-light">Merge Sort</button>
        </li>
        <li class="nav-item m-1">
          <button onclick="insertionSortAlgorithmVisualization()" class="btn btn-outline-light">Insertion Sort</button>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Bar Chart -->
  <div class="container">
    <svg></svg>
  </div>

  <!-- Tooltip -->
  <div id="tooltip"></div>

  <!-- Data Table -->
  <div class="container mt-5">
    <div class="row">
      <table class="table table-dark table-responsive">
        <tr id="data">
        </tr>
      </table>
    </div>
  </div>

  <!-- Runtime cards -->
  <div class="container mt-5">
    <div id="runtimes" class="row justify-content-center justify-content-lg-start">
    </div>
  </div>

{% endblock %}


{% block script %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="../static/js/algorithms.js"></script>
{% endblock %}