{% extends "layout.html" %}

{% block title %}
  Algorithms
{% endblock %}

{% block main %}
  <nav class="navbar">
    <a href="/"class="navbar-brand btn btn-outline-light text-white">Home</a>
      <ul class="navbar-nav">
        <!-- <li class="nav-item nav-link">
          <button id="new-data" class="btn btn-outline-light">Create New Data Set</button>
        </li> -->
        <li class="nav-item nav-link">
          <form class="form-inline" id="linear-search-form">
            <input id="linear-search-input" type="number" min="0" max="1000">
            <button id="linear-search-button" class="btn btn-outline-light" type="submit">Linear Search</button>
          </form>
        </li>
        <li class="nav-item nav-link">
          <button id="binary-search" class="btn btn-outline-light">Binary Search</button>
        </li>
        <li class="nav-item nav-link">
          <button id="bubble-sort" class="btn btn-outline-light">Bubble Sort</button>
        </li>
        <li class="nav-item nav-link">
          <button id="selection-sort" class="btn btn-outline-light">Selection Sort</button>
        </li>
        <li class="nav-item nav-link">
          <button id="merge-sort" class="btn btn-outline-light">Merge Sort</button>
        </li>
        <li class="nav-item nav-link">
          <button id="insertion-sort" class="btn btn-outline-light">Insertion Sort</button>
        </li>
      </ul>
  </nav>

  <svg></svg>
{% endblock %}


{% block script %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="../static/js/algorithms.js"></script>
{% endblock %}