<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- FAVICON -->

        <!-- LINKS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300&family=Lato:wght@100;300&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/styles.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
      <main>
        {% block main %}{% endblock %}
      </main>
    </body>
    <script src="../static/js/index.js"></script>
</html>