<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Open Graph / Facebook -->
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://dsa-visualization.herokuapp.com/">
        <meta property="og:title" content="Data Structures and Algorithms Visualization">
        <meta property="og:site_name" content="Data Structures and Algorithms Visualization">
        <meta property="og:image" content="https://dsa-visualization.herokuapp.com/static/images/thumbnail.png">
        <meta property="og:image:secure_url" content="https://dsa-visualization.herokuapp.com/static/images/thumbnail.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:height" content="1800">
        <meta property="og:image:width" content="2880">
        <meta property="og:image:alt" content="Sorting algorithm visualization in progress">
        <meta property="og:description" content="Web-based searching and sorting algorithms visualization tool to demonstrate computer science topics." name="description">
        <meta property="fb:app_id" content="2733409333567092">

        <!-- Twitter Meta Tags -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://dsa-visualization.herokuapp.com/">
        <meta property="twitter:title" content="Data Structures and Algorithms Visualization">
        <meta property="twitter:description" content="Web-based searching and sorting algorithms visualization tool to demonstrate computer science topics.">
        <meta property="twitter:image" content="https://dsa-visualization.herokuapp.com/static/images/thumbnail.png">

        <!-- FAVICON -->
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="../static/favicon_io/site.webmanifest">

        <!-- LINKS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300&family=Lato:wght@100;300&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/styles.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P3KR52GC0Y"></script>
    <body>
      <main>
        {% block main %}{% endblock %}
      </main>
    </body>
    {% block script %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</html>